@use '@/css/mixins';

.BasicPage {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex-column(center, center);
  position: relative;

  .menu {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}

