@use '@/css/mixins';

.link {
  @include mixins.text-neon;
  display: block;
  font-size: 20px;
  transition: color var(--animation-time);
  text-align: center;

  &:hover {
    color: var(--primary);
  }
}

.active {
  color: var(--primary);
}