@use '@/css/mixins';

.optionsPage {
  @include mixins.box-size(100%, 100%);
  @include mixins.bcImage("https://813a9746-5e51-4b1a-af22-34e7e233e254.selstorage.ru/background/blood/4.webp", left);
  position: relative;

  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
}