@import url("@/css/reset.css");
@import url("@/css/themes/blood.css");
@import url("@/css/vars.css");

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: inter, sans-serif;
    user-select: none;
    scroll-behavior: smooth;
    background: var(--bg-primary);
}

body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}


