@mixin box-size($width, $height: $width) {
  height: $height;
  width: $width;
}
@mixin box-max-size($width, $height: $width) {
  max-height: $height;
  max-width: $width;
}
@mixin flex($justify: flex-start,  $align: flex-start, $gap: 0) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
@mixin flex-column($justify: flex-start,  $align: flex-start, $gap: 0) {
  @include flex($justify, $align, $gap);
  flex-direction: column;
}
@mixin box-neon() {
  background-color: rgb(0 0 0 / 40%);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 2px var(--primary), inset 0 0 0 2px var(--primary), 0 0 20px 4px var(--primary), inset 0 0 20px 4px var(--primary);
}
@mixin border-neon() {
  background-color: rgb(0 0 0 / 40%);
  box-shadow: 0 0 0 2px var(--primary), inset 0 0 0 2px var(--primary), 0 0 20px 4px var(--primary), inset 0 0 20px 4px var(--primary);
}
@mixin text-neon() {
  text-align: center;
  color: var(--text-primary);
  text-shadow: 0 0 7px var(--primary), 0 0 10px var(--primary), 0 0 21px var(--primary), 0 0 42px var(--primary), 0 0 82px var(--primary), 0 0 92px var(--primary), 0 0 102px var(--primary), 0 0 151px var(--primary);
}
@mixin bcImage($url, $position: center){
  background-image: url($url);
  background-repeat:no-repeat;
  background-position: $position;
  background-size: 100% 100%;
}