@use '@/css/mixins';

.title {
  @include mixins.text-neon;
}

.title span {
  animation: blink linear infinite 5s;
}


.h1 {
  font-size: 36px;
  font-weight: 800;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  font-weight: 600;
}

.h4 {
  font-size: 24px;
  font-weight: 500;
}


@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
    color: rgba(0,0,0,0.3);
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: rgba(0,0,0,0.3);
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: rgba(0,0,0,0.3);
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
